

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    background-color: var(--cinza1);
    padding: 32px;
    
}

.footer p, a{
    color: var(--cinza2);
    font-family: sans-serif;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    transition: .6s;
    
}

.footer img {
    width: 200px;
}

.footer a:hover {
    color: var(--branca);
   
}

.footer a img {
    width: 32px;
    margin-right: 16px;
}

.footer a img:hover {
    color: var(--cinza2);
}