@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');


:root {
    /* CORES PRINCIPAIS */
    --cor1: #BD6128;
    --cor2: #7D401A;
    --cor3: #FC8235;
    --cor4: #3D1F0D;
    --cor5: #E37430;
    --cor6: #FC721C;

    --branca: #fff;
    --cinza1: #333;
    --cinza2: #777;
    --azul: #337ab7;
    --azulHover: #368ad3;
    --azul2: #0030b8;

    /* FONT FAMILY */

    --font-menu: 'Rubik', sans-serif;;
    --font-titulo: 'Roboto', sans-serif;
    --font-paragrafo: 'Open Sans', sans-serif;


}