:root {
    /* CORES PRINCIPAIS */
    --cor1: #BD6128;
    --cor2: #7D401A;
    --cor3: #FC8235;
    --cor4: #3D1F0D;
    --cor5: #E37430;
    --cor6: #FC721C;

    --branca: #fff;
    --cinza1: #333;
    --cinza2: #777;
    --azul: #337ab7;
    --azul2: #0030b8;

}