.header-index {
    border-bottom: 2px solid var(--cor3);
    margin-bottom: 16px;
}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos h2 {
    font-family: var(--font-titulo);
    font-size: 1.5rem;
    font-weight: 600;

    margin-bottom: 16px;
    color: var(--cor3);
}

.servicos p {
    font-family: var(--font-paragrafo);
    line-height: 20px;
    text-align: justify;

    width: 80%;
    margin-bottom: 16px;
}

.servicos img {
    box-shadow: 1px 1px 10px 1px #777;
    margin-bottom: 16px;
    background-size: cover;
}

.card {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin-bottom: 16px;
}

.card-item {
    
    border: 1px solid #777;
    box-shadow: 1px 1px 10px 1px #777;
    border-radius: 5px;
    width: 300px;
    height: 200px;
    margin: 8px;
    padding: 8px;
    background-color: var(--azul);
    transition: 1s;
}

.card-item:hover {
    transform: scale(1.1);
}

.card-item h3 {
    text-align: center;
    font-family: var(--font-titulo);
    color: var(--branca);

    margin-bottom: 8px;
}

.card-item p {
    font-family: var(--font-paragrafo);
    color: var(--branca);

    margin-bottom: 8px;
}

.card button {
    padding: 8px;
    border-radius: 10px;
    border: none;
    font-family: var(--font-paragrafo);
    transition: .6s;
    
}
.card button:hover {
    background-color: var(--azulHover);
    color: var(--branca);
}

.card button a{
    text-decoration: none;
    color: #000;
    font-weight: 300;
}

.card button a:hover{
    color: var(--branca);
}

.sistemas {
    display: flex;
    flex-direction: column;

    margin: 16px;
    padding: 64px;
    
    justify-content: center;
    align-items: center;

}

#sistemasWeb #appMobile #sistemaDesktop {
    display: flex;
}

.sistemas-titulo{
    text-align: center;
    font-family: var(--font-titulo);
    font-size: 3rem;
    margin-top: 32px;
    margin-bottom: 32px;
}

.sistemas h2{
    text-align: center;
    font-family: var(--font-titulo);
    margin: 16px;
}

.sistemas h3{
    text-align: center;
    font-family: var(--font-titulo);
    margin: 16px;
}

.sistemas p {
    font-family: var(--font-paragrafo);
    line-height: 22px;
    margin-bottom: 16px;
    text-align: justify;

    width: 600px;
    
}

.sistemas ul {
    list-style: none;
    text-align: center;
    line-height: 22px;
}

/* videos */
.videos {
    display: flex;
    justify-content: space-around;
}

.videos h2 {
    font-family: var(--font-titulo);
    text-align: center;
    margin: 8px;
}

.videos iframe {
    width: 400px;
    height: 250px;

    border-radius: 5px;
    box-shadow: 1px 1px 5px 2px #777;
    margin-bottom: 32px;
}


@media (max-width: 1300px){

    .servicos img{
        width: 90%;
    }
    .videos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .videos iframe{
        width: 500px;
        height: 350px;
    }
}

@media (max-width: 900px){

    .header-index {
        flex-direction: column;
        border-bottom: none;
    }
    .nav-index {
        width: 100vw;
    }
    
    .nav-index ul {
        background-color: var(--cor3);
        justify-content: center;
    }

    .servicos p {
        width: 100%;
        padding: 16px;
    }

    .servicos img {
        box-shadow: none;
        
        background-size: cover;
    }

    .card {
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        
    }
    
    .card-item {   
        display: flex;
        flex-direction: column;   
        border-radius: 5px;
        width: 500px;
        height: 250px;
        transition: none;
    }

    .card-item h3 {
        margin: 16px 0;
        font-size: 1.5rem;
    }
    
    .card-item p {
        padding: 10px;
        font-size: 1.2rem;
        margin: 16px auto;
    }
    
    .card button {
        
        
        transition: none;
    }

    .sistemas {
        padding: 16px;
    }

    .sistemas p {
        width: 100%;
    }
    
    .videos iframe {
        width: 375px;
        height: auto;
    }
    
}

@media (max-width: 600px){

    .servicos img {
        width: 100%;
    }

    .card {
        margin: 10px;
    }
    .card-item {   
        border-radius: 0;
        box-shadow: none;
        width: 100%;
        height: auto;
    }
    .videos iframe {
        
        
        border-radius: 0;
        box-shadow: none;
        padding: 10px;
        
    }

}

